
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.searchConainer{
  position: relative;
}

.searchIcon{
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.photo{
  padding: 40px 0 0 0;
}

.container.nav{
  padding: 0;
}

nav{
  background: #666;
}

.navbar-nav a{
  color: white;
}

.navbar-nav a:hover{
  color: white;
}

header{
  padding: 20px 0;
}

.body-content{
  padding-bottom: 20px;
}

footer {
  background: #2c343b;
  min-height: 100px;
  box-shadow: 0px 500px 0px 500px #2c343b;
  color: white;
  padding: 20px 0;
}

footer a{
  color: #666;
}

  footer a:hover {
    color: #00BCF3;
    text-decoration: none;
  }

.nav > li > a:hover, .nav > li > a:focus {
  background: #00BCF3;
}

.btn-primary {
  background: #00BCF3;
  border-color: #00A3DA;
}
  .btn-primary:hover {
    background: #666;
    border-color: #666;
  }

.searchResults{
  padding-top:20px;
}

.searchItem {
  padding: 10px;
  display: block;
}

  .searchItem:hover{
    text-decoration: none;
    background: #efefef;
  }
