.bundle
.sass-cache
Gemfile.lock
_site
*.gem

#ignore Java files

HW3/java/

#ignore files except .cs files

HW3/javaConvert/*
HW3/javaConvert/javaConvert/*


!HW3/javaConvert/javaConvert
!HW3/javaConvert/javaConvert/*.cs