.bundle
.sass-cache
Gemfile.lock
_site
*.gem

#ignore Java files

HW3/java/

#ignore files except .cs files

HW3/conversion/*
HW3/conversion/conversion/*


!HW3/conversion/conversion
!HW3/conversion/conversion/*.cs