/*=======================
       Imports
========================*/
@import url('https://fonts.googleapis.com/css?family=Gudea:400,700|Roboto+Slab:400,700|Roboto:300,400,400i,700');
@import "reset.css";

body{
	color: #666;
	font-size: 16px;
	font-family: "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Slab', Helvetica, Arial;
	font-weight: 300;
}

h1{
	font-size: 36px;
	font-weight: 700;
	margin: 0 0 .5em;
	line-height: 43px;
	text-transform: uppercase;
	color: #FEC652 !important;
}

h2{
	font-size: 28px;
	font-weight: 400;
	margin: 0 0 20px 0;
}

h3{
	font-size: 26px;
	font-weight: 400;
	margin: 0 0 .25em 0;
	color: #6AA4A9 !important;
}

h4{
	font-size: 20px;
	font-weight: 800;
	margin: 0 0 .15em 0;
}

h5{
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 .15em 0 ;
}

h6{
	font-size: 16px;
	font-weight: 800;
	margin: 0 0 .15em 0 ;
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


#netWorth{
	padding: 20px 0;
}

#netWorth li{
	padding: 10px 0;
	font-size: 18px;
	color: #d2d2d2;
}

#netWorth li:last-of-type{
	font-size: 33px;
	font-weight: 700;
}

#netWorth .negitive{
	color: red;
}

#netWorth .positive{
	color: green;
}

#netWorth .thanos{
	color: purple;
}
/*********************
			Sidebar
*********************/
aside h1{
	font-size: 25px;
	border-bottom: 2px solid #425563;
	padding: 0 0 10px ;
	color: #425563;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

/**********************
			Form Elements
***********************/
.btn{
		background: none;
		color: #425563;
		border: 1px solid #c6c8cb !important;
}


.btn:hover{
		background: #425563;
		color: white;
}

.mb-2, .my-2{
	margin-bottom: 0 !important;
}

.checkbox h2{
	margin: 0;
}

.form-group{
	margin: 0;
}

.checkbox{
	margin: 0;
	border-bottom: 1px solid #f4f4f4;
	padding: 20px 0;
}

.well{
	padding: 20px;
	background: #fafafa;
}

.well table{
	margin-bottom: 0;
}
.table .thead-dark th{
	background: #666;
}
/**********************
			  Elements
***********************/
table{
	margin: 0 0 20px;
}

table td{
	vertical-align: middle !important;
}

caption{
	padding: 10px;
	background: black;
	color: white;
}

#accordion{
	margin-bottom: 20px;
}

.ui-accordion-header{
	border-bottom: 1px solid #eaeaea;
	padding: 15px 0;
	cursor: pointer;
	position: relative;
	margin-bottom: 0;
}


.ui-accordion-header-icon{
	position: absolute;
	right: 0;
	top: 23px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-top: 10px solid #6AA4A9 ;
}
/***********************
				Footer
***********************/

footer{
	background: #2f3336;
  min-height: 100px;
	margin-top: 20px;
	padding: 20px 0;
	color: white;
  box-shadow: 0px 500px 0px 500px #2f3336;
}
