/*=======================
       Imports
========================*/
@import url('https://fonts.googleapis.com/css?family=Gudea:400,700|Roboto+Slab:400,700|Roboto:300,400,400i,700');
@import "reset.css";

@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css"');

body{
	color: #666;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', Helvetica, Arial, "Lucida Grande", sans-serif;;
	font-weight: 300;
}

h1{
	font-size: 36px;
	font-weight: 700;
	margin: 0 0 .5em;
	line-height: 43px;
	text-transform: uppercase;
	color: #FEC652 !important;
}

h2{
	font-size: 28px;
	font-weight: 400;
	margin: 0 0 .25em 0;
}

h3{
	font-size: 26px;
	font-weight: 400;
	margin: 0 0 .25em 0;
	color: #6AA4A9 !important;
}

h4{
	font-size: 20px;
	font-weight: 800;
	margin: 0 0 .15em 0;
}

h5{
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 .15em 0 ;
}

h6{
	font-size: 16px;
	font-weight: 800;
	margin: 0 0 .15em 0 ;
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.body-copy ol {
  list-style: none;
  counter-reset: counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.body-copy ol li {
  counter-increment: counter;
  display: flex;
  width: 50%;
  font-size: 1em;
  margin-bottom: 0.5rem;
}
.body-copy ol li::before {
  content: "0" counter(counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.5rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
  color: #FEC652;
}

.body-copy ul{
	display: flex;
	flex-wrap: wrap;
}

.body-copy ul li{
	list-style: none;
	display: flex;
   width: 50%;
	margin-bottom: 20px;
}

.body-copy ul li::before{
	content: "";
	background: #FEC652;
	height: 20px;
	width: 20px;
	padding: 20px;
	margin-right: 20px;
	border-radius: 100%;

}


/******************
		Menu Styles
*******************/
#main-menu{
	background: #425563;
}

.navbar{
		padding: 0 !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
	color: white;
	padding: 13px 20px !important;
}

.nav-item a:hover{
	color: white;
	background: #52748c;
}

.dropdown-item{
	color: #666;
}

/*************
		Banner
***************/
.bgimage img{
	width: 100%;
	height: auto;
}

.bgimage{
	position: relative;
	margin-bottom: 20px;
}

.caption {
	color: white !important;
	text-transform: uppercase;
	padding: 20px;
	width: 100%;
	text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caption h1{
	color: white !important;
}

/*********************
			Social Media
*********************/

.social-media{
	margin-top: 60px;
	margin-bottom: 20px;
}


.social-media a{
	text-indent: -99999px;
	display: block;
	opacity: .5;
}

.social-media li{
	float: left;
	padding-left: 20px;
}

.social-media a:hover{
	opacity: .75;
}

.facebook a{
	background: url(../img/facebook.png) no-repeat center center;
	height: 40px;
	width: 40px;
	background-size: 40px;
}

.intagram a{
	background: url(../img/instagram.png) no-repeat center center;
	height: 40px;
	width: 40px;
	background-size: 40px;
}

.portfolio a{
	background: url(../img/goback.png) no-repeat center center;
	height: 40px;
	width: 40px;
	background-size: 40px;
}


/*********************
			Sidebar
*********************/
aside h1{
	font-size: 25px;
	border-bottom: 2px solid #425563;
	padding: 0 0 10px ;
	color: #425563;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

/**********************
			Form Elements
***********************/
.btn{
		background: none;
		color: #425563;
		border: 1px solid #c6c8cb !important;
}


.btn:hover{
		background: #425563;
		color: white;
}

/**********************
			Table  Elements
***********************/
.left{
	padding-right: 20px;
}

.right{
	padding-left: 20px;
}

/***********************
				Footer
***********************/

footer{
	background: #2f3336;
  min-height: 100px;
	margin-top: 20px;
	padding: 20px 0;
	color: white;
  box-shadow: 0px 500px 0px 500px #2f3336;
}
