/*=======================
       Imports
========================*/
@import url('https://fonts.googleapis.com/css?family=Gudea:400,700|Roboto+Slab:400,700|Roboto:300,400,400i,700');
@import "reset.css";

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', Helvetica, Arial, "Lucida Grande", sans-serif;;
	font-weight: 300;
}

h1{
	font-size: 36px;
	font-weight: 700;
	margin: 0 0 .5em;
	line-height: 43px;
	text-transform: uppercase;
	color: green;
}

h2{
	font-size: 28px;
	font-weight: 400;
	margin: 0 0 .25em 0;
}

h3{
	font-size: 26px;
	font-weight: 400;
	margin: 0 0 .25em 0;
}

h4{
	font-size: 20px;
	font-weight: 800;
	margin: 0 0 .15em 0;
}

h5{
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 .15em 0 ;
}

h6{
	font-size: 16px;
	font-weight: 800;
	margin: 0 0 .15em 0 ;
}
