
@{
  ViewBag.Title = "Querry";
}
<div class="row">
  <div class="col-md-2 col-sm-12">
  </div>
  <div class="col-md-8 col-sm-12" style="text-align:center">
    <h2>Search People</h2>
    @using (Html.BeginForm(FormMethod.Get))
    {

      @Html.AntiForgeryToken()

      <div class="searchConainer">
        <input type="text" class="form-control" name="search" placeholder="Enter Name">
        <button type="submit" class="btn btn-primary searchIcon">Search</button>
      </div>
    }
  </div>
  <div class="col-md-2 col-sm-12">
  </div>
</div>

