@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Content/imgs/background.jpg" class="img-responsive" />
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Submit Ticket</h2>
    <p>Having maintenance issues? Please fill out the following form.</p>
    @Html.ActionLink("Submit Ticket", "Create", "Request", null, new { @class = "btn btn-default" })
  </div>
    
  <div class="col-md-6">
    <h2>View Tickets</h2>
    <p>View a table of outstanding assistance requests.</p>
    @Html.ActionLink("View Tickets", "Index", "Request", null, new { @class = "btn btn-default" })
  </div>
</div>
