//
// Primary Colors
//

$cp1: #703030;
$cp2: #2F343B;
$cp3: #7E827A;
$cp4: #E3CDA4;
$cp5: #C77966;


//
// General Colors
//
$light: #c4c4c4;
$medium: #727272;
$dark: #292929;
$even: #fcfcfc;
$odd: #f5f5f5;
$text-gray: #666;
